<%- include('../../layouts/head.ejs') %>

</head>

<body>
    <%- include('../../layouts/navigation.ejs') %>
    
  <div class="container col-sm-12 col-md-6 ">
    <div class="card border-0  mt-2">
        <div class="card-body">
            <div class="border p-4 rounded">
                <div class="card-title d-flex align-items-center">
                    <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                    </div>
                    <h5 class="mb-0 text-primary">Add Product</h5>
                </div>
                <hr>
                <form  action="/admins/products" method="POST">
                    <div class="row mb-3">
                        <label for="inputTitle" class="col-sm-3 col-form-label">Enter Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" ">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputImageUrl" class="col-sm-3 col-form-label">Image URL</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="Image URL" ">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputDescription" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPrice" class="col-sm-3 col-form-label">Price</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="price" name="price" placeholder="Price"  step="0.01">
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 card-actions btn-group border-0 bg-white px-2 d-inline-flex justify-content-center">
                            <button type="submit" class="btn btn-primary mx-1">Send</button>
                            <button type="button" class="btn btn-primary mx-1" onclick="javascript:history.back()">Cancle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

<%- include('../../layouts/head.ejs') %>